# Server Connection
GRAPHSTATION_HOST=your-nas-ip-or-domain
GRAPHSTATION_USER=your-username
GRAPHSTATION_FRONTEND_PATH=/volume1/web/graphstation_frontend
GRAPHSTATION_BACKEND_PATH=/volume1/web/graphstation_frontend/api

# Backend API URL (for the React Frontend)
GRAPHSTATION_API_URL=http://your-nas-ip-or-domain:5000

# Memgraph Configuration
MEMGRAPH_HOST=your-nas-ip-or-domain
MEMGRAPH_PORT=7687
MEMGRAPH_USER=
MEMGRAPH_PASSWORD=
