# Synology Connection
NAS_HOST=your-nas-ip-or-domain
NAS_USER=your-username
NAS_WEB_PATH=/volume1/web/graphstation

# Backend API URL (for the React Frontend)
VITE_API_URL=http://your-nas-ip-or-domain:5000
